body {
	background-color: #efefef;
	padding-bottom: 5vh;
}

.logo-text {
	line-height: 1.1;
	font-weight: 500;
	font-family: 'Questrial', 'sans-serif';
	font-size: 28px;
	vertical-align: middle;
}

.logo-text span {
	font-weight: 1000;
}

.logo-icon {
	display: inline-block;
	background-color: #40babd;
	border-radius: 10rem;
	text-align: center;
	width: 40px;
	height: 40px;
}

.logo-icon img {
	margin: 10px 11px;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}

.navul {
	margin-left: auto!important;
}

.breadcrumb {
	vertical-align: middle;
	margin: auto!important;

}

.btn-signin {
	margin-left: 6px;
}

/*///////////////////////////*/

section .card {
	padding: 2%;
	max-width: 15rem;
	margin: 1vh 1vw;
	border: 1px solid #00b6b9;
	cursor: pointer;
	transition: 0.3s;
}

section h1 {
	margin: 8vh 0;
}

.card-title {
	text-align: center;
	vertical-align: middle;
	margin-bottom: 0;
	font-size: 2rem;
}

.card-body {
	vertical-align: middle;
}

.card-body h5 {
	font-size: 1.7vw;
}

section a {
	color: inherit;
}

section a:hover {
	text-decoration: none;
	color: #444;
}