body {
	background-color: #efefef;
	padding-bottom: 5vh;
}

.logo-text {
	line-height: 1.1;
	font-weight: 500;
	font-family: 'Questrial', 'sans-serif';
	font-size: 28px;
	vertical-align: middle;
}

.logo-text span {
    font-weight: 1000;
}

.logo-icon {
	display: inline-block;
	background-color: #40babd;
	border-radius: 10rem;
	text-align: center;
	width: 40px;
	height: 40px;
}

.logo-icon img {
	margin: 10px 11px;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}

.navul {
	margin-left: auto!important;
}

.breadcrumb {
	vertical-align: middle;
	margin: auto!important;

}

.btn-signin {
	margin-left: 6px;
}

/* ================================= */

.create-theme {
    width: -webkit-fill-available;
}

h1 {
    margin: 3rem 0;
}

.row-form {
    padding: 1rem;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    background: #fff;
}

textarea {
    resize: none;
}

.my-btn-send {
    width: 13rem;
}