body {
	background-color: #efefef;
}

.logo-text {
	line-height: 1.1;
	font-weight: 500;
	font-family: 'Questrial', 'sans-serif';
	font-size: 28px;
	vertical-align: middle;
}

.logo-text span {
	font-weight: 1000;
}

.logo-icon {
	display: inline-block;
	background-color: #40babd;
	border-radius: 10rem;
	text-align: center;
	width: 40px;
	height: 40px;
}

.logo-icon img {
	margin: 10px 11px;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}

.navul {
	margin-left: auto!important;
}

.breadcrumb {
	vertical-align: middle;
	margin: auto!important;

}

.btn-signin {
	margin-left: 6px;
}

/* ============================== */

.card-body {
    width: 100%;
    padding: 5px;
}

.row {
    margin: 0;
}

.plogin {
    margin-bottom: 0;
    font-size: 94%;
    text-align: center;
    color: #212529;
}

.aplogin {
    text-decoration: none;
}

.aplogin:hover {
    text-decoration: none;
    color: #6c757d;
}

.card-img {
    border-radius: 10rem;
	padding-top: 5px;
	width: 62px;
	height: 67px;
}

.userAvatar {
    height: fit-content;
    margin: auto;
}

.firstRow {
    margin-top: 5vh;
}

.card {
    min-width: 100%;
}

textarea {
    resize: none;
}

body {
    padding-bottom: 5vh;
}

.text-btn {
    width: 100%;
    margin: 5px 0;
}