@font-face {
    font-family: 'Questrial';
    src: url('Questrial/questrial-regular-webfont.woff2') format('woff2'),
         url('Questrial/questrial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}